<div class="container">
  <div class="row box-cliente" >
    <div class="col-12">

        <h3 class="text-center">Crie sua conta na ETEC</h3>
          <form class="mt-5">


            <div class="form-group">
              <input type="text" 
                     id="inNome"  
                     class="form-control cliente"               
                     placeholder="Nome"/>


            </div>
            <div class="form-group">
              <input type="text" 
                     id="inCPF"
                     class="form-control cliente"      
                     placeholder="CPF"/>
            </div>
            <div class="form-group">
              <input type="email" 
                     id="inEmail"
                     class="form-control cliente"      
                     placeholder="E-mail"/>
            </div>
            <div class="form-group">
              <input type="text" 
                     id="inTelefone"
                     class="form-control cliente"      
                     placeholder="Telefone"/>
              </div>
            <div class="form-group">
                <input type="text" 
                       id="inEndereco"
                       class="form-control cliente"      
                       placeholder="Endereço"/>
            </div>
            <button type="submit"  class="btn btn-cadastrar btn-lg">Cadastrar</button>
          </form>
    </div>
  </div>
</div>


